
header {
    display: grid;
    grid-template-columns: 200 px 2fr;
    background-color: #800080;
    border-radius: 50px 50px 50px 50px;
    padding: 0.5em;
    align-items: center;
 
  }
img {
  height: 150 px;
  
}
h2 {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif; 'Playfair Display', serif;
    
}
h3 {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
body {
    background-color: #E6E6FA;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
  
  }
